<h1>Basic Form</h1>
<form (ngSubmit)="onRegister()" #myform="ngForm" action="">
  <div class="formRegisterContainer">
    <div class="inputform">
      <label for="firstname">first name</label>
      <input type="text" name="firstname" id="firstname" required #firstNameInput="ngModel" [(ngModel)]="register.firstName">
      <p *ngIf="firstNameInput.invalid">Campo Requerido</p>
    </div>
    <div class="inputform">
      <label for="lastname">last name</label>
      <input type="text" name="lastname" id="lastname" required #lastNameInput="ngModel" [(ngModel)]="register.lastName">
      <p *ngIf="lastNameInput.invalid">Campo Requerido</p>
    </div>
    <div class="inputform">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required #emailInput="ngModel" [(ngModel)]="register.email">
      <p *ngIf="emailInput.invalid">Campo Requerido</p>
    </div>
    <div class="inputform">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required #passwordInput="ngModel" [(ngModel)]="register.password">
      <p *ngIf="passwordInput.invalid">Campo Requerido</p>
    </div>
    <div class="inputform">
      <label for="password2">Retype Password</label>
      <input type="password" name="password2" id="password2" required #password2Input="ngModel" [(ngModel)]="register.password2">
      <p *ngIf="password2Input.invalid">Campo Requerido</p>
    </div>
    <div class="inputform">
      <label for="country">Country</label>
      <select name="country" name="country" id="country" required #countryInput="ngModel" [(ngModel)]="register.country">
        <option value="">Select Country</option>
        <option value="Colombia">Colombia</option>
        <option value="Peru">Peru</option>
        <option value="Chile">Chile</option>
      </select>
      <p *ngIf="countryInput.invalid">Campo Requerido</p>
    </div>
    <div>
      <button [disabled]="myform.invalid" type="submit">Registrarse</button>
    </div>
  </div>
</form>

<hr/>

<h1>Dynamic ngClass & ngStyle</h1>
<input type="text" required #nameInput6="ngModel" name="first" [(ngModel)]="person.name">
<hr class="lineClass"
  [ngClass]="{
    'valid': nameInput6.valid,
    'invalid': nameInput6.invalid
  }"
/>
<div class="classStyleImageWidth">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      display: 'block'
      }">
    </div>
  </div>
</div>
<hr/>

<h1>Dynamic Class & Style</h1>
<input class="input" name="first" [class.inputError]="nameInput5.invalid" type="text" required #nameInput5="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput5.invalid" >Campo Requerido</p>
<p [style.font-style]="nameInput5.invalid ? 'italic' : 'normal'" >Otro Texto con auto estilo</p>

<div class="classStyleImageWidth">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="products[0].img" alt="product">
  </div>
</div>

<hr/>

<h1>[NgSwitch]</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <div *ngSwitchCase="'julian'">Hola Julian</div>
  <div *ngSwitchCase="'jonsteve'">Hola JonSteve</div>
  <div *ngSwitchDefault>no hace match</div>
</div>

<hr/>

<h1>*NgFor Arrays</h1>
<div class="containerProducts">
  <div class="product" *ngFor="let product of products">
    <img class="product_img" width="60px" [src]="product.img" alt="product">
    <h2 class="product_title">{{product.name}}</h2>
    <p class="product_price">{{product.price}}</p>
  </div>
</div>

<hr/>

<h1>*NgFor</h1>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i+1}} - {{name}} - <span id="delete" (click)="onPressRemoveName(i)">X</span>
  </li>
</ul>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="newName">
<button (click)="onPressAddName()">Adiciona</button>

<hr/>

<h1>*NgIf</h1>
<p *ngIf="nameInput2.valid">name: {{person.name}}</p>
<p *ngIf="person.name=='julian' && person.age==18 ; else elseblock">name: {{person.name}}</p>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput2.valid}}</p>

<ng-template #elseblock>
  <p>soy un bloque</p>
</ng-template>

<hr/>

<h1>NgModel</h1>
<p>Hola Soy {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<p>Mi edad es: {{person.age}}</p>
<input type="number" max="10" min="5" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>

<hr/>

<h1>Eventos</h1>
<button [disabled]="btn101State">Enviar</button>
<button (click)="toggleBtn()">Toggle Button</button>

<p>Edad: {{person.age}}</p>
<button (click)="ageIncrease()">Age++</button>

<hr/>

<div class="box" (scroll)="onScroll($event)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo saepe vitae id minus accusamus rem odio at omnis dolorem explicabo, adipisci quo iusto itaque, inventore asperiores quas? Dolorem, aliquam.</div>
<p>Hola Soy {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="onPress($event)">

<hr/>

<h1>Propiedades</h1>
<button [disabled]="btn101State">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="person.avatar" alt="">

<hr/>

<h1>Hola Mundo!!</h1>
<h2>{{'Hola Mundo'.repeat(5)}}</h2>
<p>3 + 3 = {{ 3 + 3}}</p>
<p>Hola Soy {{name}} y tengo {{age}}</p>
<img width="100px" src={{imgurl}} alt="image de perfil">
