<h1>[NgSwitch]</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <div *ngSwitchCase="'julian'">Hola Julian</div>
  <div *ngSwitchCase="'jonsteve'">Hola JonSteve</div>
  <div *ngSwitchDefault>no hace match</div>
</div>

<hr/>

<h1>*NgFor Arrays</h1>
<div class="containerProducts">
  <div class="product" *ngFor="let product of products">
    <img class="product_img" width="60px" [src]="product.img" alt="product">
    <h2 class="product_title">{{product.name}}</h2>
    <p class="product_price">{{product.price}}</p>
  </div>
</div>

<hr/>

<h1>*NgFor</h1>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i+1}} - {{name}} - <span id="delete" (click)="onPressRemoveName(i)">X</span>
  </li>
</ul>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="newName">
<button (click)="onPressAddName()">Adiciona</button>

<hr/>

<h1>*NgIf</h1>
<p *ngIf="nameInput2.valid">name: {{person.name}}</p>
<p *ngIf="person.name=='julian' && person.age==18 ; else elseblock">name: {{person.name}}</p>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput2.valid}}</p>

<ng-template #elseblock>
  <p>soy un bloque</p>
</ng-template>

<hr/>

<h1>NgModel</h1>
<p>Hola Soy {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<p>Mi edad es: {{person.age}}</p>
<input type="number" max="10" min="5" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>

<hr/>

<h1>Eventos</h1>
<button [disabled]="btn101State">Enviar</button>
<button (click)="toggleBtn()">Toggle Button</button>

<p>Edad: {{person.age}}</p>
<button (click)="ageIncrease()">Age++</button>

<hr/>

<div class="box" (scroll)="onScroll($event)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo saepe vitae id minus accusamus rem odio at omnis dolorem explicabo, adipisci quo iusto itaque, inventore asperiores quas? Dolorem, aliquam.</div>
<p>Hola Soy {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="onPress($event)">

<hr/>

<h1>Propiedades</h1>
<button [disabled]="btn101State">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="person.avatar" alt="">

<hr/>

<h1>Hola Mundo!!</h1>
<h2>{{'Hola Mundo'.repeat(5)}}</h2>
<p>3 + 3 = {{ 3 + 3}}</p>
<p>Hola Soy {{name}} y tengo {{age}}</p>
<img width="100px" src={{imgurl}} alt="image de perfil">
